In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
cupdf = pd.read_csv("C:/py_projects/stats_hotel/data_files/cupid", header=[0, 1], index_col=0)
cupdf.index = pd.to_datetime(cupdf.index)

In [3]:
cupdf.head()

           load_percent                                 room_coast_mean  \
Показатель       stn_2p comf_2p imcomf_2p fam_3p fam_4p          stn_2p
2023-06-01          7.3     4.8      21.7    0.5    1.7         2190.91
2023-07-01         80.0    69.6      83.9   53.1   39.2         2367.69
2023-08-01         51.0    53.0      78.2   33.0   53.8         2494.80
2023-09-01         15.3    25.7      27.5    3.6    0.6         2229.22

                                                 ...    profit             \
Показатель  comf_2p imcomf_2p   fam_3p   fam_4p  ...    stn_2p    comf_2p
2023-06-01  2310.00   2245.38  2750.00  2966.67  ...   24100.0   23100.00
2023-07-01  2404.27   2449.97  3045.34  3514.42  ...  293594.0  363045.16
2023-08-01  2523.97   2607.93  3191.17  3974.67  ...  197089.0  290257.00
2023-09-01  2445.93   2495.67  2735.71  2900.00  ...   51272.0  132080.00

                                            guests                           \
Показатель  imcomf_2p     fam_3p     fam_4p stn_2p comf_2p imcomf_2p fam_3p
2023-06-01   58380.00    5500.00    8900.00   13.0     4.0       9.0    4.0
2023-07-01  254797.00  651703.75  256553.00   58.0    63.0      35.0  122.0
2023-08-01  252968.75  424425.00  397466.67   39.0    50.0      32.0   58.0
2023-09-01   82357.00   38300.00    2900.00   13.0    24.0      15.0   13.0


Показатель fam_4p
2023-06-01    7.0
2023-07-01   78.0
2023-08-01   58.0
2023-09-01    4.0

[4 rows x 30 columns]

In [4]:
pecdf = pd.read_csv("C:/py_projects/stats_hotel/data_files/main", header=[0, 1], index_col=0)
pecdf.index = pd.to_datetime(pecdf.index)

In [5]:
pecdf.head()

           load_percent                         room_coast_mean           \
Показатель      2_rooms 3_rooms 1_room P2_rooms         2_rooms  3_rooms
2019-06-01         56.7    33.3   36.7      0.0         2694.12  3090.00
2019-07-01         67.7    54.8   25.8      0.0         2417.14  3400.00
2019-08-01         93.5    67.7   80.6      0.0         2157.24  2933.33
2019-09-01         53.3    26.7   46.7      0.0         2195.00  2950.00
2019-10-01         29.0    32.3   48.4      0.0         2151.11  3010.00

                            room_profit_mean           ... rooms_per_day  \
Показатель  1_room P2_rooms          2_rooms  3_rooms  ...        1_room
2019-06-01  2200.0      0.0          1526.67  1030.00  ...           0.4
2019-07-01  1887.5      0.0          1637.42  1864.52  ...           0.3
2019-08-01  1736.0      0.0          2018.06  1987.10  ...           0.8
2019-09-01  1700.0      0.0        117067.00   786.67  ...           0.5
2019-10-01  1740.0      0.0           624.52   970.97  ...           0.5

                      profit                             guests          \
Показатель P2_rooms  2_rooms  3_rooms   1_room P2_rooms 2_rooms 3_rooms
2019-06-01      0.0  45800.0  30900.0  24200.0      0.0    11.0    13.0
2019-07-01      0.0  50760.0  57800.0  15100.0      0.0    27.0    53.0
2019-08-01      0.0  62560.0  61600.0  43400.0      0.0    44.0    48.0
2019-09-01      0.0  35120.0  23600.0  23800.0      0.0    33.0    24.0
2019-10-01      0.0  19360.0  30100.0  26100.0      0.0    20.0    26.0


Показатель 1_room P2_rooms
2019-06-01    7.0      0.0
2019-07-01   10.0      0.0
2019-08-01   23.0      0.0
2019-09-01   18.0      0.0
2019-10-01   14.0      0.0

[5 rows x 24 columns]

In [8]:
locdf = pd.read_csv("C:/py_projects/stats_hotel/data_files/locate", header=[0, 1], index_col=0)
locdf.index = pd.to_datetime(locdf.index)

In [10]:
locdf.load_percent

Показатель    N1    N2    N3    N4    N5    N6    N7    N8
2023-06-01  76.7   3.3  43.3  40.0  23.3  30.0  16.7  26.7
2023-07-01  77.4  54.8  83.9  93.5  77.4  64.5  83.9  71.0
2023-08-01  87.1  41.9  74.2  90.3  41.9  51.6  61.3  54.8
2023-09-01  70.0  56.7  33.3  26.7  23.3  50.0  53.3  23.3